@import "bourbon"
@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
  /**/



/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
  /**/


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
  #newstrois_global_id
    width: 85vw
  .navbar-header
    padding-left: 30px
    span
  		font-size: 20px

  #navbar
    display: none

  .navbar-nav
  	li
  		a
  			font-size: 13px
  			padding: 15px 10px 10px 10px

  .top-page-margin
  	display: none

  .search-block
    height: 250px !important
    width: 100vw !important
    p
    		margin: 0 0 20px 0 !important
    		font-size: 13px !important
    .content
      padding-left: 15px !important
    form
      input
        font-size: 14px
        text-indent: 10px
        height: 40px !important
        // color: #eee !important
      .search-param
        width: 100vw
        display: flex
        padding-top: 20px
        label
          font-size: 12px
          // padding: 0 10px
        // justify-content: space-around
        input
          width: 25%
          height: 30px !important
          margin: 7px 10px
          font-size: 12px

  .podcast-block
    padding: 5px 5px
    width: 100vw
    height: 65px !important
    background-color: #fff
    text-align: center
    line-height: 1.5
    a
      font-size: 11px
    .content
      padding-top: 10px
      padding-left: 10px
      width: 100vw

  .gallery-big-block
  	width: 100vw

/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/
