@import "bourbon"
@import "fonts"
@import "libs"
@import "vars"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden
	// background: url(../images/bglines.jpg) repeat
	background-color: #ffffff
	overflow-x: hidden
	// width: 100%
	// .with-ads
	// 	background: url(../images/bglines.jpg) 0px 200px repeat-x
	// 	background-color: #ffffff

.btn
	display: inline-block
	padding: 6px 12px
	margin-bottom: 0
	font-size: 14px
	font-weight: 400
	line-height: 1.42857143
	text-align: center
	white-space: nowrap
	vertical-align: middle
	-ms-touch-action: manipulation
	touch-action: manipulation
	cursor: pointer
	-webkit-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
	background-image: none
	border: 1px solid transparent
	border-radius: 4px

.btn-danger
	margin-top: 30px
	margin-right: 10px
	color: #fff
	background-color: #d9534f
	border-color: #d43f3a
	width: 50%



.topbanner
	display: none

// .navbar
// 	// margin-bottom: 0px
// 	// position: relative
//   // top: 0px
//   // width: 100%
//   // z-index: 1000
// 	background-color: #242d3f
//
// .navbar-header
// 	padding: 5px 15px
//
// .navbar-brand
// 	// height: 50px
//   font-size: 26px
//   line-height: 20px
//
// .white
// 	color: #ffffff
//
// .red
// 	color: #ed1b23
//
// .input-group
// 	input
// 		display: block
// 		margin-left: 20px
// 		width: 90%
// 		color: #eee
// 		font-size: 14px
// 		// height: 40px
// 		text-indent: 10px
// 		padding: 5px 0
// 	// width: 100%
// 	// .form-control
// 	// 	width: 90%
// 	// 	margin: auto
//
// .navbar-header
// 	span
// 		font-size: 20px
//
// .navbar-nav
// 	li
// 		a
// 			font-size: 13px
// 			padding: 15px 10px 10px 10px
//
// .top-page-margin
// 	display: none
//
// .min-container
// 	width: 100vw
//
// .podcast-block
// 	height: 40px
// 	a
// 		font-size: 11px
// 	.content
// 		padding-top: 10px
// 		padding-left: 10px
// 		width: 100vw
//
// .gallery-big-block
// 	width: 100vw




@import "media" // Всегда в конце
