@import url(common.css);
@import url(newstroi-small-card.css);
@import url(call-form.css);
@import url(search-block.css);
@import url(media_common.css);
/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  h3 {
    background-color: #fff;
    font-size: 16px;
    margin: 0;
    padding-left: 5px; }
  hr {
    margin: 10px 0 0 !important; }
  h1 {
    margin: 0 !important;
    font-size: 16px !important;
    padding: 5px 10px; }
  .section_2 {
    overflow: hidden;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee; }
    .section_2 p {
      padding: 5px 10px;
      margin: 0;
      text-align: justify; }
    .section_2 h3 {
      font-size: 13px;
      padding: 5px 10px; }
    .section_2 .more-wrap {
      width: 55%; } }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
